/* 
    Created on : 13 de jul de 2020, 11:08:22
    Author     : Rhafaew Andrade
*/

.bg-menu{
    background-color: #002956 !important;
}
.bg-content{
    background-color: #F2F2F2 !important;
}

.fontColor{
    color: #002956 !important;
}